<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>

        <!-- Joint 1: base -> shoulder -->
        <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
            <joint_name>1</joint_name>
            <topic>/lerobot/1_cmd_pos</topic>
            <p_gain>12.0</p_gain>
            <i_gain>0.05</i_gain>
            <d_gain>0.1</d_gain>
            <i_max>0.2</i_max>
            <i_min>-0.2</i_min>
            <cmd_max>10.0</cmd_max>
            <cmd_min>-10.0</cmd_min>
            <initial_position>0.0</initial_position>
        </plugin>

        <!-- Joint 2: shoulder -> upper_arm -->
        <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
            <joint_name>2</joint_name>
            <topic>/lerobot/2_cmd_pos</topic>
            <p_gain>12.0</p_gain>
            <i_gain>0.05</i_gain>
            <d_gain>0.1</d_gain>
            <i_max>0.2</i_max>
            <i_min>-0.2</i_min>
            <cmd_max>10.0</cmd_max>
            <cmd_min>-10.0</cmd_min>
            <initial_position>0.0</initial_position>
        </plugin>

        <!-- Joint 3: upper_arm -> lower_arm -->
        <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
            <joint_name>3</joint_name>
            <topic>/lerobot/3_cmd_pos</topic>
            <p_gain>12.0</p_gain>
            <i_gain>0.05</i_gain>
            <d_gain>0.1</d_gain>
            <i_max>0.2</i_max>
            <i_min>-0.2</i_min>
            <cmd_max>10.0</cmd_max>
            <cmd_min>-10.0</cmd_min>
            <initial_position>-1.508</initial_position>
        </plugin>

        <!-- Joint 4: lower_arm -> wrist -->
        <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
            <joint_name>4</joint_name>
            <topic>/lerobot/4_cmd_pos</topic>
            <p_gain>12.0</p_gain>
            <i_gain>0.05</i_gain>
            <d_gain>0.1</d_gain>
            <i_max>0.2</i_max>
            <i_min>-0.2</i_min>
            <cmd_max>10.0</cmd_max>
            <cmd_min>-10.0</cmd_min>
            <initial_position>0.0</initial_position>
        </plugin>

        <!-- Joint 5: wrist -> gripper -->
        <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
            <joint_name>5</joint_name>
            <topic>/lerobot/5_cmd_pos</topic>
            <p_gain>12.0</p_gain>
            <i_gain>0.05</i_gain>
            <d_gain>0.1</d_gain>
            <i_max>0.2</i_max>
            <i_min>-0.2</i_min>
            <cmd_max>10.0</cmd_max>
            <cmd_min>-10.0</cmd_min>
            <initial_position>0.0</initial_position>
        </plugin>

        <!-- Joint 6: gripper -> moving_jaw -->
        <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
            <joint_name>6</joint_name>
            <topic>/lerobot/6_cmd_pos</topic>
            <p_gain>12.0</p_gain>
            <i_gain>0.05</i_gain>
            <d_gain>0.1</d_gain>
            <i_max>0.2</i_max>
            <i_min>-0.2</i_min>
            <cmd_max>10.0</cmd_max>
            <cmd_min>-10.0</cmd_min>
            <initial_position>0.0</initial_position>
        </plugin>

        <!-- JointStatePublisher for all 6 joints -->
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>/lerobot/joint_states</topic>
            <joint_name>1</joint_name>
            <joint_name>2</joint_name>
            <joint_name>3</joint_name>
            <joint_name>4</joint_name>
            <joint_name>5</joint_name>
            <joint_name>6</joint_name>
        </plugin>

    </gazebo>
</robot>