<?xml version="1.0"?>
<model>
    <name>desk</name>
    <version>1.0</version>
    <sdf version="1.9">sdf/desk.sdf</sdf>

    <author>
        <name>Nidhood</name>
        <email>ivan.oroz34@gmail.com</email>
    </author>

    <description>
    Office desk model for davinci_arm_gazebp
    </description>
</model>